.wrapper {
    background: white;
    border-radius: 30px;
    height: 509px;
    width: 920px;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 6rem;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 65%;
}

.answer {
    display: none;
}

.active > .answer {
    display: block;
    padding-bottom: 1.3rem;
    color: $Dark-grayish-blue;
}

.accordion_wrapper {
    margin-top: 65px;

    display: flex;
    flex-direction: column;
}

.active img {
    transform: rotate(180deg);
    transition: all 0.3s ease-in;
}

.accordion_quesions {
    height: 100%;
    display: flex ;
    flex-direction: column;
}

.question_answer_accordion{
     width: 350px;
     border-bottom: 1px solid #e8e8ea;
}

.title_accordion {
    font-size: 3rem;
    margin-top: 0px;
}

.question_title {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 1.4rem 0rem;
    color: $Very-dark-grayish-blue;
}

.question {
    display: flex;
    justify-content: space-between;
    transition: 0.4s;
    cursor: pointer;

    img {
        align-self: center;
    }
}

.image_wrapper {
    position: relative;
}

.active h3 {
    font-weight: 700;
}

.image_wrapper_inner{
    background: url(../images/illustration-woman-online-desktop.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 120% center;
}

.box {
    position: absolute;
    top: 42%;
    left: -25%;
}

.active img {
    transform: rotate(180deg);
    transition: all 0.2 ease-in;
}
